.container {
  background-color: black;
}

.cardBack {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 0vh 20vw;
  word-spacing: 2px;
  text-align: center;
}

.cardImg {
  width: 30vw;
  height: 30vh;
  object-fit:contain;
  /* display: block;
  margin: auto; */
 }