.fill {
  background-color: #44f7e0;
  border-radius: 10px;
  width: 300px;
  height: 100%;
}
.progressBar {
  /* background-color: #44f7e0; */
  border-radius: 10px;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.sectionTitle {
  display: inline-block;
  text-decoration: none;
  width: auto;
  font-size:20px;
  color: whitesmoke;
  border-radius: 10px;
  transition: 0.4s;
}
.sectionTitle:hover {
  color: #44f7e0;
  transform: scale(1.05);
}